.header__logo {
  max-width: 176px;
  margin: 28px 0 48px;
}

@media screen and (min-width: 1280px) {
  .header__logo {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    max-width: 142px;
    margin-top: 16px;
  }
}