.cover__text {
  margin: 195px auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

@media screen and (min-width: 1280px) {
  .cover__text {
    margin: 245px auto;
  }
}

@media screen and (max-width: 768px) {
  .cover__text {
    margin: 115px auto;
  }
}

@media screen and (max-width: 425px) {
  .cover__text {
    margin: 33px auto;
  }
}
